<!DOCTYPE html>
<html lang="en" class="en fixedsticky-withoutfixedfixed columns-5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="static/bundle1.066c84bf.css">
        <link rel="stylesheet" href="static/bundle2.13af34fe.css">
        <link rel="stylesheet" href="static/bundle3.5bac5b84.css">
        
        <!--
        <script src="http://passets-ec.pinterest.com/webapp/js/app/desktop/bundle-1.7f8dbe47.js"></script>
        <script src="http://passets-ec.pinterest.com/webapp/js/app/desktop/bundle-2.5a1e8b2c.js"></script>

        <style class="keyframe-style" id="boost-keyframe" type="text/css"> .boostKeyframe{-webkit-transform:scale3d(1,1,1);}</style>
        -->

    <title>蛋蛋咖啡 品质即刻送达</title>
    <meta property="description" name="description" content="蛋蛋咖啡，给写字楼的同学们提供方便快捷的食品饮料午餐预定配送，高端品质，即刻送达！" data-app="">
    <meta property="pinterest" name="pinterest" content="nohover" data-app="">

</head>
<body>

<div data-component-type="17" class="App full AppBase Module">
<div class="appContent ">
<div class="mainContainer">
    <div class="HomePage Module">
        <div class="AuthHomePage Module">

            <div class="hasFooter Grid Module">
            <div class="padItems Module centeredWithinWrapper GridItems variableHeightLayout" style="height: 3777px;">







<div class="item " style="top: 0px; left: 0px; visibility: visible;">

                        
                                        <div data-component-type="38" class="UserNews split Module">




    
    <div class="topItem">
        <div data-component-type="24" class="FriendsToFollow Module">


            
                
                
    

<h2 class="memoTitle">
                        <a href="/find_friends/invite/">Invite Friends To Pinterest</a>
            </h2>

    

    <ul class="List Module">



    
    <li data-index="0" class="">
        
                                    <div class="UserContact Module">

<div class="content">
    <div class="contactWrapper" data-element-type="202">
      <span class="thumbImageWrapper">
         <img src="static/avatar/leakon_1407141101_60.jpg" alt="Profile image of David  Liang">
      </span>
      <div class="contactUser">
          <span class="contactUsername">David  Liang</span>
          <br>
          <button type="button" class="Button contactAction hasText Module borderless">


<span class="buttonText">Invite</span>
        </button>
      </div>
    </div>
    <i class="dismiss" data-element-type="150"></i>
</div>
<div class="contactConfirmation">
    You invited David  Liang!</div>
</div>
                        </li>
    
    <li data-index="1" class="">
        
                                    <div class="UserContact Module">

<div class="content">
    <div class="contactWrapper" data-element-type="202">
      <span class="thumbImageWrapper">
         <img src="static/avatar/leakon_1407141101_60.jpg" alt="Profile image of Harvard Lu">
      </span>
      <div class="contactUser">
          <span class="contactUsername">Harvard Lu</span>
          <br>
          <button type="button" class="Button contactAction hasText Module borderless">


<span class="buttonText">Invite</span>
        </button>
      </div>
    </div>
    <i class="dismiss" data-element-type="150"></i>
</div>
<div class="contactConfirmation">
    You invited Harvard Lu!</div>
</div>
                        </li>
    
    <li data-index="2" class="">
        
                                    <div class="UserContact Module">

<div class="content">
    <div class="contactWrapper" data-element-type="202">
      <span class="thumbImageWrapper">
         <img src="static/avatar/leakon_1407141101_60.jpg" alt="Profile image of Andy Lee">
      </span>
      <div class="contactUser">
          <span class="contactUsername">Andy Lee</span>
          <br>
          <button type="button" class="Button contactAction hasText Module borderless">


<span class="buttonText">Invite</span>
        </button>
      </div>
    </div>
    <i class="dismiss" data-element-type="150"></i>
</div>
<div class="contactConfirmation">
    You invited Andy Lee!</div>
</div>
                        </li>
</ul>
</div>
        <div class="buttonHolder">
            <button data-element-type="215" type="button" class="rounded Button Module hasText btn sendInvite">    


<em></em>
<span class="buttonText">Invite Friends</span>
        </button>
        </div>
    </div>

<div class="bottomItem">
    <div class="FriendsToFollow Module">


            
                
                
    

<h2 class="memoTitle"> <a href="/find_friends/">Find Friends</a> </h2>
    <ul class="List Module">
    <li data-index="0" class="">
        
                    <div class="small UserBase User Module followFriendsItem">

    <div class="content">
        <a href="/jiaqi/">
            <span class="thumbImageWrapper">
                    <img src="static/avatar/leakon_1407141101_60.jpg" alt="Eric Snow">
            </span>
        </a>
        <div class="contactUser">
            <a href="/jiaqi/" class="contactUsername">Eric Snow</a>
            <br>
                        <button type="button" class="UserFollowButton Button Module hasText notNavigatable borderless ui-FollowButton">
<span class="buttonText">Follow</span>
        </button>
        </div>
        <i class="dismiss"></i>
    </div>
    <div class="contactConfirmation">
        Now following Eric's Pins!    </div>

</div>
            </li>
    
    <li data-index="1" class="">
        
                    <div class="small UserBase User Module followFriendsItem">
    <div class="content">
        <a href="/wizardvoz/">
            <span class="thumbImageWrapper">
                    <img src="static/avatar/leakon_1407141101_60.jpg" alt="Jeff Tang">
            </span>
        </a>
        <div class="contactUser">
            <a href="/wizardvoz/" class="contactUsername">Jeff Tang</a>
            <br>
                        <button type="button" class="UserFollowButton Button Module hasText notNavigatable borderless ui-FollowButton">
<span class="buttonText">Follow</span>
        </button>
        </div>
        <i class="dismiss"></i>
    </div>
    <div class="contactConfirmation">
        Now following Jeff's Pins!    </div>

</div>
            </li>
    
<li data-index="2" class="">
    <div class="small UserBase User Module followFriendsItem">
    <div class="content">
        <a href="/fantasy0412/"><span class="thumbImageWrapper"><img src="static/avatar/leakon_1407141101_60.jpg" alt="月辰 景月辰"></span></a>
        <div class="contactUser">
            <a href="/fantasy0412/" class="contactUsername">月辰 景月辰</a>
            <br>
                <button type="button" class="UserFollowButton Button Module hasText notNavigatable borderless ui-FollowButton">
                <span class="buttonText">Follow</span>
                </button>
        </div>
        <i class="dismiss"></i>
    </div>
    <div class="contactConfirmation"> Now following 月辰's Pins!    </div> 
    </div>
</li>
</ul>
</div>

    </div></div>
                    </div>


















<div class="item " style="top: 0px; left: 250px; visibility: visible;">

                        
                                                                                        
                                                                                                    
                <div data-component-type="0" class="PinBase Pin Module summary">








        
            
                            


        <div class="pinWrapper">
        
                                    
                                                            
                                                
                                                                                                                                                            
                

    

                                                <div class="pinImageActionButtonWrapper">
        <div class="repinSendButtonWrapper">
                                                
                        <button data-element-type="0" type="button" class="rounded ShowModalButton Button primary Module primaryOnHover btn repinSmall">    


<em></em>
<span class="accessibilityText">Pin it</span></button>
                                                                                                                                        <button type="button" class="rounded Button DropdownButton Module hasText sendSmall sendPinGrid btn">
    


<em></em>
<span class="buttonText">Send</span>
        </button>
                    </div>
        <div class="likeEditButtonWrapper">
            
                                                            
                                                        <button data-text-unlike="Unlike" data-element-type="1" data-text-like="Like" type="button" class="LikeButton rounded PinLikeButton Button Module likeSmall btn">











    


<em></em>
<span class="accessibilityText">Like</span></button>
                    </div>

                                        
        <div class="pinHolder">
                                                                                    <a href="/pin/276971445808427384/" class="pinImageWrapper" data-element-type="35" style="background: #5b7452;">
                                    <div class="pinDomain">arsanavillaestate.com</div>
                                <div class="fadeContainer">
                    <div class="hoverMask"></div>
                                                                                                                                                                                        
                                        
<?php

echo    '232';
?>
                    
<!--
<img src="static/user_content/b29c5408e6c9617946ee2a8fd7a1a299.jpg" class="pinImg fullBleed loaded fade loaded fade" style="height:449px;width:236px;" onload="P.lazy.onImageLoad(this)" alt="Villa Arsana Estate, a luxurious rental retreat in Tabanan, Bali.">
-->

<img src="static/user_content/36ef243cbc7eb39d36779ba700067790.jpg" class="pinImg fullBleed loaded fade loaded fade" xstyle="height:449px;width:236px;" onload="P.lazy.onImageLoad(this)" alt="Villa Arsana Estate, a luxurious rental retreat in Tabanan, Bali.">

</div>
            </a>
        </div>
    </div>

                                                                    
        
        
        
        
        <div class="pinMeta ">
                                            <p class="pinDescription">Villa Arsana Estate, a luxurious rental retreat in Tabanan, Bali.</p>
            
                    
            
                            <div class="pinSocialMeta">                    <a class="socialItem" href="/pin/276971445808427384/repins/" title="&lt;span class='value'&gt;18&lt;/span&gt; &lt;span class='label'&gt;repins&lt;/span&gt;">
            <em class="repinIconSmall"></em>
            <em class="socialMetaCount repinCountSmall">
                18
            </em>
        </a>
                        <a class="socialItem likes" href="/pin/276971445808427384/likes/" title="&lt;span class='value'&gt;4&lt;/span&gt; &lt;span class='label'&gt;likes&lt;/span&gt;">
            <em class="likeIconSmall"></em>
            <em class="socialMetaCount likeCountSmall">
                4
            </em>
        </a>
        
                </div>
                    </div>
    
            <div class="pinCredits">
                <div class="creditItem">
                    <a href="/ginia/pools/" title="More from pools">
                                                                                                <img src="static/avatar/leakon_1407141101_60.jpg" class="creditImg user" style="" alt="pools">

            
            <div class="creditName">Virginia Stevenson</div>
            <div class="creditTitle">
                                pools
            </div>
        </a>
        </div>
</div>
    
                        
                                                                
                                                    
            

            </div>


</div>
                    </div>





























            </div>
            </div>
        </div>
    </div>


</div>
</div>
</div>


</body>
</html>
